<template name = "home">
  <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Travis M. Smith</h1>
            <h3>Aspiring Web Developer</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Welcome!</h2>
                    <p class="lead">Here's a little bit about me.</p>
                    <img id = "myPhoto" src="/Me-resize.jpg"/>
                    <p class = "aboutMe">I am an up and coming web developer living in Seattle Washington with knowledge in the fields of front end design as well as some full stack development. I only recently moved to the Seattle area, and I grew up in Spokane Washington until I was 21, at which time I moved to Kansas City Missouri and lived there for nearly 5 years, after some time I decided that I wanted to move back to the Pacific North-West. When I arrived in Seattle, it was for the purpose of persuing education in the web development field, so I enrolled in a one month Boot Camp from the organization Code Fellows. The curriculum emphasized understanding and utilizing Java Script, HTML5, CSS3, and Git Hub, while also introducing us to some back end functionality with things such as Express and Node.js.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>My Skills</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-code fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Java Script</strong>
                                </h4>
                                <p>I learned to utilize Java Script during my time at Code Fellows.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-html5 fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>HTML 5</strong>
                                </h4>
                                <p>I learned to utilize HTML5 during my time at Code Fellows.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-css3 fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>CSS 3</strong>
                                </h4>
                                <p>I became familiar with CSS 3 during my time at Code Fellows.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Git Hub</strong>
                                </h4>
                                <p>I attended a one day workshop to learn about Git Hub and continued to utilize it throughout my time at Code Fellows.</p>
                                <a href="https://github.com/SmithTM90" class="btn btn-md btn-dark">My GitHub</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

<!-- Portfolio -->
    <!-- <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>My Work</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="/My Page.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="/portfolio-2.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- /.col-lg-10 -->
            <!-- </div> -->
            <!-- /.row -->
        <!-- </div> -->
        <!-- /.container -->
    <!-- </section> -->

    <!-- Call to Action -->
    <section id = "education" class = "education">
      <aside class="call-to-action bg-primary">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h3>Education</h3>
                      <!-- <a href="#" class="btn btn-lg btn-light">Click Me, I'm nonsense!</a> -->
                      <p>I attended a Web Development and Computer Science boot camp through the Code Fellows organization in Seattle.<br> The button below links to their website.</p>
                      <a href="http://CodeFellows.org" class="btn btn-lg btn-dark">Code Fellows</a>
                  </div>
              </div>
          </div>
      </aside>
    </section>
</template>
